<div class="wrapper" data-controller='requests'  data-requests-request-id-value="<%= request.id %>">

  <div class="notifications">

    <div class="notifications__item">

      <div class="notifications__item__content">
        <span class="notifications__item__title">Table: <%= request.order.cover.id %> </span>
        <strong><span class="notifications__item__message"><%= request.content %></span></strong>
        <span class="notifications__item__message">at <%= request.created_at %></span>
        <span class="notifications__item__message d-none" id="demo"><%= request.id %></span>
      </div>

      <div>
        <div class="notifications__item__option archive js-option">
          <i class="fas fa-folder"></i>
        </div>
        <div class="notifications__item__option delete js-option" data-action="click->requests#update">
          <i class="fas fa-trash"></i>
        </div>
      </div>
    </div>
  </div>
</div>
