<% order.order_items.each do |item| %>
<% if item.status == "Submitted" %>
  <div class="wrapper" data-controller='orders' data-orders-item-id-value="<%= item.id %>">

    <div class="notifications">

      <div class="notifications__item">
        <div class="notifications__item__avatar">
          <% if item.food.photo.blank? %>
            <img src="https://media.istockphoto.com/photos/food-backgrounds-table-filled-with-large-variety-of-food-picture-id1155240408?k=20&m=1155240408&s=612x612&w=0&h=Zvr3TwVQ-wlfBnvGrgJCtv-_P_LUcIK301rCygnirbk=" alt="VR Zone">
            <% else %>
            <%= cl_image_tag item.food.photo.key%>
            <% end %>
        </div>
        <div class="notifications__item__content">
          <span class="notifications__item__title">Order #<%= order.id %></span>
          <strong><span class="notifications__item__message"><%= item.food.name %>
          <% if (item.created_at - order.created_at) > 0.5 %>
          (Additional)
          <% end %></span></strong>
          <span class="notifications__item__message">Table #<%= order.cover.id %></span>
          <span class="notifications__item__message">Quantity: <%= item.quantity %></span>
          <span class="notifications__item__message d-none" id="demo"><%= item.id %></span>
        </div>

        <div>
          <div class="notifications__item__option archive js-option" data-action="click->orders#update">
            <i class="fas fa-folder"></i>
          </div>
        </div>
    </div>
  </div>
<% end %>
<% end %>
