<h3>Order #<%= order.id %> received from Table # <%= order.cover.table_number %> at <%= order.created_at %></h3>
<% order.order_items.each do |item| %>
  <div class="card-product col-sm-12 m-2">
  <img src="https://static.toiimg.com/thumb/56933159.cms?imgsize=686279&width=800&height=800" />
  <div class="card-product-infos">
    <h2 ><%= item.food.name %>
        <% if (item.created_at - order.created_at) > 0.5 %>
        (Additional)
        <% end %></h2>
    <p class="description"><%= item.food.description %></p>
    <h2 class="price"><%= item.food.price %></h2>
  </div>
  <p class=" fs-4 border border-3 rounded-4 p-1"><%= item.quantity %> </p>
  </div>
<% end %>
