
<div class="container" data-controller="order-subscription" data-order-subscription-order-id-value="<%= @order.id %>" >
<h1 class="text-center">Your order</h1>
  <% @order.order_items.each do |item| %>
    <%= render 'order_items/order_item', item: item %>
  <% end %>
  <ul class="list-unstyled">
    <% if @order.receipt.is_paid != true %>
      <li>
        <%= link_to 'Proceed to payment', receipt_path(@receipt), :class => "btn mb-3" %>
      </li>

      <li>
        <%= link_to 'Add to order', restaurant_path(@restaurant, cover_id: @cover.id, order_id: @order.id), :class => "btn" %>
      </li>
      <% else %>
      <li>
        <%= link_to 'Back to menu', restaurant_path(@restaurant, cover_id: @cover.id), :class => "btn" %>
      </li>
      <% end %>

  </ul>
  <h3>Your table has been assigned to the waiter <%= @waiter.name %></h3>
  <hr>
  <h4>Request for assistance from waiter</h4>
  <%= simple_form_for [@order, @request], class: 'col-6' do |f| %>

    <%=  f.input :content,
                  required: true%>
    <%= f.submit "Send request", class: "btn" %>
    <% end %>
</div>
