<h1>Your order</h1>
<div class="container" >
  <% @order.order_items.each do |item| %>
  <div class="card-product col-sm-12 m-2">
  <img src="https://static.toiimg.com/thumb/56933159.cms?imgsize=686279&width=800&height=800" />
  <div class="card-product-infos">
    <h2 class="name"><%= item.food.name %></h2>
    <p class="description"><%= item.food.description %></p>
    <h2 class="price"><%= item.food.price %></h2>
  </div>
  <p class=" fs-4 border border-3 rounded-4 p-1"><%= item.quantity %> </p>
  </div>
  <% end %>
  <ul>
    <% if @order.receipt.is_paid != true %>
      <li>
        <%= link_to 'Proceed to payment', receipt_path(@receipt) %>
      </li>
      <% end %>
  <li>
    <a href="#" class="btn btn-primary" >Add to order </a>
  </li>
  </ul>
  <h3>Your table has been assigned to the waiter <%= @waiter.name %></h3>
  <h4>Request for assistance from waiter</h4>
  <%= simple_form_for [@order, @request], class: 'col-6' do |f| %>
    <%=  f.input :content,
                  required: true%>
    <%= f.submit "Send request", class: "btn btn-primary" %>
    <% end %>
</div>
