
<div class="container" data-controller="order-subscription" data-order-subscription-order-id-value="<%= @order.id %>" >
<h1 class="text-center" style="margin-bottom: 20px">Your order</h1>
  <% @order.order_items.each do |item| %>
    <%= render 'order_items/order_item', item: item %>
  <% end %>
  <ul class="d-flex list-unstyled justify-content-between" style="margin-top: 30px">
    <% if @order.receipt.is_paid != true %>


      <li>
        <%= link_to restaurant_path(@restaurant, cover_id: @cover.id, order_id: @order.id), :class => "btn more rounded-pill" do %>
         <i class="fa-solid fa-utensils"></i> Order More
         <% end %>
      </li>

      <li>
        <%= link_to receipt_path(@receipt), :class => "btn mb-3 rounded-pill checkout" do %>
        <i class="fa-solid fa-credit-card"></i>  Checkout
        <% end %>
      </li>

      <% else %>


      <li>
        <%= link_to 'Back to menu', restaurant_path(@restaurant, cover_id: @cover.id), :class => "btn " %>
      </li>
      <% end %>

  </ul>
  <hr>
  <div class="container">
    <h3><i class="fa-solid fa-bell-concierge"></i> <strong><%= @waiter.name %></strong> </h3>
    <h4>Ask anything </h4>
    <%= simple_form_for [@order, @request], class: 'col-6' do |f| %>

      <%=  f.input :content,
                    label: false,
                    required: true%>
      <%= f.submit "Send request", class: "btn btn-request" %>
      <% end %>
  </div>
</div>
