
<section class="d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center" style="height: 100vh;background: radial-gradient(rgb(224,207,57), var(--bs-yellow) 50%, rgb(252,164,31) 100%);">
        <div class="container" style="max-width: 80vw;">
            <div class="row">
                <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex align-items-center align-items-sm-center align-items-md-center align-items-lg-center align-items-xl-center align-items-xxl-center">
                    <h1><strong>For you:</strong><br>Quality Dining Experience</h1>
                </div>
                <div class="col d-xxl-flex justify-content-xxl-center"><%= image_tag "hangrylogo-removebg-preview.png", class: "img-fluid", style: "max-height: 50vh; max-width: 50vh;" %></div>
            </div>
        </div>
</section>
<section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><%= image_tag "menu.png", class: "img-fluid", style: "width: 350px;" %></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Digital menu, where your clients can order!</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
<section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5"><%= image_tag "waiter.png", class: "img-fluid", style: "width: 350px;" %></div>
                </div>
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <h2 class="display-4">Client requests through 📱<br> Dedicted staff.</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
<section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><%= image_tag "turnover.png", class: "img-fluid", style: "width: 350px;" %></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Faster Conversions.<br>More Revenue!</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
<section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="text-center p-5">
                        <h2 class="display-4">Stop being hangry<br>Sign Up Today.</h2>
                    </div>
                </div>
                <div class="col-12">
                    <div class="text-center p-5">
                      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-lg" %><br />
                    </div>
                </div>
            </div>
        </div>
    </section>
<div class="py-5 bg-black">
    <div class="container">
      <p class="text-center text-white m-0 small">Copyright&nbsp;© Hangry 2022</p>
    </div>
  </div>
