<%# IF condition for whether user has already a restaurant, or no, which would show the add a restaurant button, and nothing else %>
<% if current_user.restaurant.present? %>
<%# Data dashboardpagination controller %>
<div data-controller="dashboardpagination">
<ul class="list-inline container-fluid text-center">
  <li class="list-inline-item text-muted" data-dashboardpagination-target="restaurantitem" data-action="click->dashboardpagination#restaurant"><a>Restaurant</a></li>
  <li class="list-inline-item">|</li>
  <li class="list-inline-item" data-dashboardpagination-target="menuitem" data-action="click->dashboardpagination#menu"><a>Menu</a></li>
  <li class="list-inline-item">|</li>
  <li class="list-inline-item" data-dashboardpagination-target="waiteritem" data-action="click->dashboardpagination#waiter"><a>Waiters</a></li>
  <li class="list-inline-item">|</li>
  <li class="list-inline-item" data-dashboardpagination-target="coveritem" data-action="click->dashboardpagination#cover"><a>Covers</a></li>
  <li class="list-inline-item">|</li>
  <li class="list-inline-item" data-dashboardpagination-target="requestitem" data-action="click->dashboardpagination#request"><a>Requests</a></li>
</ul>
<div data-dashboardpagination-target="restaurant">
<h1>Restaurants</h1>
<% @restaurants.each do |restaurant| %>
<%= restaurant.name %>
<%= restaurant.location %>
</div>
<div class="d-none" data-dashboardpagination-target="menu">
<h1 class="text-center">Menu Items</h1>
<div class="text-center">
<%= link_to "Add a Menu Item", new_restaurant_food_path(restaurant), class: "btn btn-primary" %>
</div>
<div class="container mt-4">
<div class="row">
<% @foods.each do |food| %>
<%= render 'shared/food_item_card',food: food %>
<%# end below should be kept in this position, or a glitch will happen in the pagination %>
<% end %>
</div>
</div>
</div>
<div class="d-none" data-dashboardpagination-target="waiter">
<h1 class="text-center">Waiters</h1>
<div class="text-center">
<%= link_to "Add a Waiter", new_restaurant_waiter_path(restaurant), class: "btn btn-primary" %>
</div>
<div class="container mt-4">
<div class="row">
<% @waiters.each do |waiter| %>
<%= render 'shared/waiter_card',waiter: waiter %>
<% end %>
</div>
</div>
</div>
<div class="d-none" data-dashboardpagination-target="cover">
<h1>Covers</h1>
<%= link_to "Add a Cover", new_restaurant_cover_path(restaurant), class: "btn btn-primary" %>
<% @covers.each do |cover| %>
<%= cover.table_number %>
<% end %>
</div>
<%# End below is of the restaurants.each as we need to use for the menu and waiters and covers, etc. %>
<% end %>
<%# DIV below is of the dashboardpagination controller %>
</div>
<% else %>
<h1>Restaurants</h1>
<%= link_to "Add a restaurant", new_restaurant_path, class: "btn btn-primary" %>
<% end %>

<div class="d-none" data-dashboardpagination-target="request">
<h1 class="text-center">Requests</h1>

<div class="container mt-4">
<div class="row">
<% @requests.each do |request| %>
    <div class="col-6">
      <h3>Request received from Table <%= request.order.cover.id %> at <%= request.created_at %></h3>
      <p><%= request.content %></p>
    </div>
<% end %>
</div>
</div>
</div>
