<%# IF condition for whether user has already a restaurant, or no, which would show the add a restaurant button, and nothing else %>
<% if current_user.restaurant.present? %>
<%# Data dashboardpagination controller %>
<div data-controller="dashboardpagination">
<ul class="list-inline container-fluid text-center">
  <li class="list-inline-item" data-dashboardpagination-target="menuitem" data-action="click->dashboardpagination#menu"><a>Menu</a></li>
  <li class="list-inline-item">|</li>
  <li class="list-inline-item" data-dashboardpagination-target="waiteritem" data-action="click->dashboardpagination#waiter"><a>Waiters</a></li>
  <li class="list-inline-item">|</li>
  <li class="list-inline-item" data-dashboardpagination-target="coveritem" data-action="click->dashboardpagination#cover"><a>Covers</a></li>
  <li class="list-inline-item">|</li>
  <li class="list-inline-item" data-dashboardpagination-target="requestitem" data-action="click->dashboardpagination#request"><a>Requests</a></li>
</ul>
<div data-dashboardpagination-target="restaurant">
<h1 class="dashboard-h1">My Dashboard</h1>
  <div>
  <section class="d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center" style="height: 100vh;background: radial-gradient(rgb(224,207,57), var(--bs-yellow) 50%, rgb(252,164,31) 100%);">
    <% @restaurants.each do |restaurant| %>

    <div class="animation01">
        <div class="rhombus_small">
            <div class="rhombus">
                <div class="border_box">
                    <span class="line line01"></span>
                    <span class="line line02"></span>
                    <span class="line line03"></span>
                    <span class="line line04"></span>
                    <span class="circle circle01"></span>
                    <span class="circle circle02"></span>
                    <span class="circle circle03"></span>
                    <span class="circle circle04"></span>
                    <span class="animation_line animation_line01"></span>
                    <span class="animation_line_wrapper animation_line02_wrapper"><span class="animation_line animation_line02"></span></span>
                    <span class="animation_line animation_line03"></span>
                    <span class="animation_line_wrapper animation_line04_wrapper"><span class="animation_line animation_line04"></span></span>
                    <span class="animation_line animation_line05"></span>
                    <span class="animation_line_wrapper animation_line06_wrapper"><span class="animation_line animation_line06"></span></span>
                    <span class="animation_line animation_line07"></span>
                    <span class="animation_line_wrapper animation_line08_wrapper"><span class="animation_line animation_line08"></span></span>
                </div>
                <div class="wave">
                    <div class="wave_wrapper"><div class="wave_box"></div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="animation02">
        <div class="rhombus_box">
            <span class="rhombus_item_wrapper rhombus_item01_wrapper"><span class="rhombus_item"></span></span>
            <span class="rhombus_item_wrapper rhombus_item02_wrapper"><span class="rhombus_item"></span></span>
        </div>
        <div class="double_content">
            <div class="double_wrapper02 dotted02"><div class="dotted_hide"><div class="double_wrapper01 dotted01"><span class="dotted_right"></span></div></div></div>
            <div class="double_wrapper02 white02"><div class="double_wrapper01 white01"></div></div>
            <div class="double_wrapper02 gray02"><div class="double_wrapper01 gray01"></div></div>
            <div class="double_wrapper02 orange02"><div class="double_wrapper01 orange01"></div></div>
        </div>
          <div class="name">
            <div class="d-flex justify-content-center">
              <h1 class="gradient-text">Welcome <%= restaurant.name %> !</h1>
            </div>
            <%# <span class="name_circle01"></span>
            <span class="name_circle02"></span> %>
        </div>
    </div>

  </section>
  </div>
</div>
<div class="d-none" data-dashboardpagination-target="menu">
<h1 class="text-center">Menu Items</h1>
<div class="text-center">
<%= link_to "Add a Menu Item", new_restaurant_food_path(restaurant), class: "btn btn-primary" %>
</div>
<div class="container mt-4">
<div class="row">
<% @foods.each do |food| %>
<%= render 'shared/food_item_card',food: food %>
<%# end below should be kept in this position, or a glitch will happen in the pagination %>
<% end %>
</div>
</div>
</div>
<div class="d-none" data-dashboardpagination-target="waiter">
<h1 class="text-center">Waiters</h1>
<div class="text-center">
<%= link_to "Add a Waiter", new_restaurant_waiter_path(restaurant), class: "btn btn-primary" %>
</div>
<div class="container mt-4">
<div class="row">
<% @waiters.each do |waiter| %>
<%= render 'shared/waiter_card',waiter: waiter %>
<% end %>
</div>
</div>
</div>
<div class="d-none" data-dashboardpagination-target="cover">
<h1 class="text-center">Covers</h1>
<div class="text-center">
  <%= link_to "Add a Cover", new_restaurant_cover_path(restaurant), class: "btn btn-primary" %>
</div>
<div class="container mt-4">
<div class="row">
<% @covers.each do |cover| %>

<%= cover.table_number %>

<%= render 'shared/cover',cover: cover %>

<% end %>
</div>
</div>
</div>
<%# End below is of the restaurants.each as we need to use for the menu and waiters and covers, etc. %>
<% end %>
<%# DIV below is of the dashboardpagination controller %>
</div>
<% else %>
<h1>Restaurants</h1>
<%= link_to "Add a restaurant", new_restaurant_path, class: "btn btn-primary" %>
<% end %>

<div class="d-none" data-dashboardpagination-target="request">
<h1 class="text-center">Requests</h1>

<div class="container mt-4">
<div class="row">
<% @requests.each do |request| %>
    <div class="col-6">
      <h3>Request received from Table <%= request.order.cover.id %> at <%= request.created_at %></h3>
      <p><%= request.content %></p>
    </div>
<% end %>
</div>
</div>
</div>
