<% if @receipt.is_paid == nil %>
<div class="container" >
    <h1 class="text-center">Receipt</h1>
      <table class="body-wrap">
          <tbody><tr>
              <td></td>
              <td class="container" width="600">
                  <div class="content">
                      <table class="main" width="100%" cellpadding="0" cellspacing="0">
                          <tbody><tr>
                              <td class="content-wrap aligncenter">
                                  <table width="100%" cellpadding="0" cellspacing="0">
                                      <tbody>
                                      <tr>
                                          <td class="content-block">
                                              <table class="invoice">
                                                  <tbody>
                                                  <tr>
                                                      <td>
                                                          <table class="invoice-items" cellpadding="0" cellspacing="0">
                                                              <tbody>
                                                                <%  @item_hashes_grouped.each do |item| %>
                                                                  <tr>
                                                                      <td><%= item[:name] %> (<%= item[:quantity] %>)</td>
                                                                      <td class="alignright">AED<%= Food.find_by(name:item[:name]).price*item[:quantity] %></td>
                                                                  </tr>
                                                                  <% end %>
                                                              <tr class="total">
                                                                  <td class="alignright" width="80%">Total</td>
                                                                  <td class="alignright">AED<%= @sum %></td>
                                                              </tr>
                                                          </tbody></table>
                                                      </td>
                                                  </tr>
                                              </tbody></table>
                                          </td>
                                      </tr>
                                  </tbody></table>
                              </td>
                          </tr>
                      </tbody></table>
                      <div class="footer">
                          <table width="100%">
      </table>
                      </div></div>
              </td>
              <td></td>
          </tr>
      </tbody></table>
  <p class="text-center"><%= link_to order_path(@order), :class => "btn mb-3" do %>
  <i class="fa-solid fa-utensils"></i> Back to order
  <% end %>
  </p>
  <div class="text-center">
  <button id="pay" class="btn"><i class="fa-solid fa-credit-card"></i>Pay</button>
  </div>
</div>
<script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @receipt.checkout_session_id %>'
          });
        });
      </script>
<% else %>
<%= image_tag "cat-flying-cat.gif", class:"rounded mx-auto d-block mb-5", style: 'height:253px;width:400px;' %>
<h2 class="text-center">Thank you for dining with us!</h2>
<% end %>
